<ion-header>
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!connected">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" clearInput></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 20px;">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" clearInput></ion-input>
    </ion-item>


    <ion-button expand="block" (click)="login()">
      <ion-icon name="person" slot="start"></ion-icon>
      Connexion
    </ion-button>
    <ion-label *ngIf="errmessage" color="danger">
      <p>{{errmessage}}</p>
    </ion-label>
  </ion-list>
  <ion-item style="margin-top: 10px;" lines="none" routerLink="/signup">
    <ion-label slot="end">
      <p>Creer un compte</p>
    </ion-label>
  </ion-item>

  <ion-button *ngIf="connected" expand="block" color="danger" (click)="logout()">Déconnexion</ion-button>
  <ion-button expand="block" color="secondary" (click)="getUserAuthStatus()">Get Statut</ion-button>

</ion-content>